@media screen and (min-width: 768px) {
  .brands-swiper.swiper {
    display: none;
  }
}

.brands__title--background {
  flex-shrink: 0;
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
  margin-bottom: 16px;
}

.brands__title {
  color: #7e7e82;
  font-family: TTLakes-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 16px;
}

.brands-swiper__swiper-wrapper {
  /* padding: 30px; */
  min-height: 100%;
}

.brands-swiper__swiper-slide {
  text-align: center;
}

.brand__grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 24px;
  display: none;
  padding: 0 24px;
}

.brand__more-button {
  align-items: center;
  margin-left: 16px;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 34px;
  display: none;
}

.brand__more-button-text {
  color: #1b1c21;
  font-family: TTLakes-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
  vertical-align: top;
}

.brand__item:not(:nth-child(-n + 8)) {
  display: none;
}

@media screen and (max-width: 1119px) {
  .brand__item:not(:nth-child(-n + 6)) {
    display: none;
  }
}

@media screen and (width > 767px) {
  .brand__grid-block {
    display: grid;
  }
}

@media screen and (width > 1119px) {
  .brand__grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .brand__more-button {
    display: block;
  }
}

.brand__item--opened {
  display: list-item !important;
}

.hidden {
  display: none;
}

.background-grey {
  background: #f8f8f8;
}
