.swiper-card {
  padding: 20px 16px;
  min-width: 224px;
  min-height: 72px;
  max-height: 72px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-wrapper {
  margin-bottom: 16px;
  padding-left: 16px;
}

.brands .swiper-pagination,
.technique-type .swiper-pagination,
.service-prices .swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.technique-type-swiper .swiper-pagination-bullet,
.brands-swiper .swiper-pagination-bullet,
.service-prices-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}

.technique-type-swiper .swiper-pagination-bullet,
.brands-swiper .swiper-pagination-bullet,
.service-prices-swiper .swiper-pagination-bullet {
  background-color: #b5b6bc;
}
