.title-container {
  margin-bottom: 24px;
  display: flex;
  margin-top: 24px;

  .title-text {
    color: #1b1c21;
    font-family: TTLakes-Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
    margin-left: 1%;
    margin-right: auto;
  }
}

.desktop-navigation {
  display: none;
  align-items: center;

  span {
    color: #1b1c21;
    text-align: right;
    font-family: TTLakesCondensed-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 10px;
  }
  &__repair-btn {
    display: flex;
    align-items: center;
    margin-right: 32px;

    .desktop-navigation__text-repair {
      margin-right: 8px;
    }
  }

  &__checkstatus-btn {
    display: flex;
    align-items: center;
    margin-right: 30px;

    .desktop-navigation__text-checkstatus {
      margin-right: 8px;
    }
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;
  margin-bottom: 12px;

  &__section-element {
    overflow-wrap: normal;
    white-space: nowrap;
    color: #7e7e82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-left: 16px;
    border: 2px solid transparent;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: 8px;
    padding-left: 17px;

    &:hover {
      border-radius: 6px;
      border-color: #b8ffec;
      background: #fff;
    }
  }
}

.menu::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: $tabWidth) {
}

@media screen and (min-width: $desktopWidth) {
  .desktop-navigation {
    display: flex;
  }
}
