@media screen and (min-width: 768px) {
  .technique-type-swiper.swiper {
    display: none;
  }
}

@media screen and (min-width: $desktopWidth) {
  .technique-type .swiper-card {
    max-width: 240px;
  }
}

.technique-type__title--background {
  flex-shrink: 0;
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
  margin-bottom: 16px;
}

.technique-type__title {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 16px;
}

.technique-type-swiper__swiper-wrapper {
  /* padding: 30px; */
  min-height: 100%;
}

.technique-type-swiper__swiper-slide {
  text-align: center;
}

.technique-type__grid-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 24px;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 24px;
  display: none;
  padding: 0 24px;
}

.technique-type__more-button {
  align-items: center;
  margin-left: 16px;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 34px;
  display: none;
}

.technique-type__more-button-text {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
  vertical-align: top;
}

.technique-type .swiper-card {
  min-height: 160px;
  // max-width: 240px;
}

.technique-type__item:not(:nth-child(-n + 4)) {
  display: none;
}

@media screen and (max-width: 1119px) {
  .technique-type__item:not(:nth-child(-n + 3)) {
    display: none;
  }
}

@media screen and (width > 767px) {
  .technique-type__grid-block {
    display: grid;
  }
}

@media screen and (width > 1119px) {
  .technique-type__grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .technique-type__more-button {
    display: block;
  }
}

.technique-type__item--opened {
  display: list-item !important;
}

.technique-type-swiper__card-title {
  align-self: flex-start;
  color: #1b1c21;
}

.technique-type-swiper__card-btn {
  align-self: flex-end;
  // margin-left: auto;
}

// .type-technique__item {
//   @media screen and (min-width: 700px) {
//     display: none;

//     &:nth-last-child(n + 3),
//     &.item--avtive {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//     }
//   }
//   @media screen and (min-width: 1055px) {
//     &:nth-last-child(n + 2),
//     &.item--avtive {
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//     }
//   }
// }

// .type-technique__list {
//   display: none;
//   -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
//   grid-template-columns: 1fr 1fr 1fr;
//   -moz-column-gap: 24px;
//   -webkit-column-gap: 24px;
//   column-gap: 24px;
//   row-gap: 16px;
//   margin-bottom: 24px;

//   @media screen and (min-width: 700px) {
//     display: -ms-grid;
//     display: grid;
//   }
//   @media screen and (min-width: 1057px) {
//     -ms-grid-columns: 1fr 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

// .type-technique__link {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   width: 100%;
//   height: 160px;
//   padding: 16px;
//   background-color: $white;
//   border: 1px solid #eaeaea;
//   border-radius: 6px;

//   &:hover {
//     background-color: $pink;
//     color: $white;
//     -webkit-transition: background-color 0.8s;
//     -o-transition: background-color 0.8s;
//     transition: background-color 0.8s;
//   }
//   &:hover .type-technique__btn {
//     background-color: $white;
//     border-color: blue;
//     -webkit-transition: background-color 0.5s, border-color 0.5s;
//     -o-transition: background-color 0.5s, border-color 0.5s;
//     transition: background-color 0.5s, border-color 0.5s;
//   }

//   span {
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 24px;

//     color: black;
//   }

//   &:hover span {
//     color: $white;
//   }
// }

// .type-technique__btn {
//   margin: auto;
//   margin-bottom: 0;
//   margin-right: 0;
// }

// .swiper.type-technique__swiper {
//   padding-left: 16px;
//   @media screen and (min-width: 700px) {
//     display: none;
//   }
// }
