////////////////// SCREEN SIZES ////////////////////

$desktopWidth: 1440px;
$tabWidth: 768px;
$mobileWidth: 360px;
$minMobileWidth: 320px;

/////////////////////////////////////////////////////

////////////////// COLORS ////////////////////

$turquoise: #41f6d7;
$pink: #ff3e79;
$white: #ffffff;
$black: #1b1c21;
$gray: #7e7e82;
$darkWhite: #f8f8f8;
$lightGrey: #eaeaea;

//////////////////////////////////////////////
