* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

li {
  list-style-type: none;
}

.visability {
  display: none;
}
